#parse("/velocity/layout.vm")
#@mainLayout()
<h1>$msg.get("BOOKS_HEADING_ALL")</h1>

<div id="myButton">
<form method="post" action="$WebPath.getTRIPLES()">

Document name: 
	<select id="docName" name="docName">
			#foreach($doc in $docs)
	  		<option value="$doc.getDocName()">$doc.getDocName()</option>
	  		#end
	</select>
	<br><br>
   <input type="submit" value="Submit">
</form>
</div>


#end