#parse("/velocity/layout.vm")
#@mainLayout()
<h1>$msg.get("TRIPLES_HEADING_EVALUATE")</h1>
<div>
	<form>
		<p>Document name:<h2>$docName</h2></p>
		
		#foreach($sentence in $sentences)
			<p>Sentence $sentence.getNumSnt(): $sentence.getOrgSnt()</p>
			<div style="overflow-x:auto;">
				<table>
	    			<tr>
				    	<th>Correct?</th>
				        <th>Incorrect?</th>
				        <th>Topic</th>
				        <th>Subject</th>
				        <th>Predicate</th>
				        <th>Object</th>
				    </tr>
					<tr>
						<td rowspan="$sentence.getSizeTriples()"><input type="checkbox" name=“correct" value=“correct”></td>
				        <td rowspan="$sentence.getSizeTriples()"><input type="checkbox" name=“incorrect" value=“incorrect”></td>
					</tr>
					#foreach($triple in $sentence.getTriples())
						<tr>
							<td>$triple.getTopic()</td>
					        <td>$triple.getSbj()</td>
					        <td>$triple.getPred()</td>
					        <td>$triple.getObj()</td>
		       			 </tr>
		 			 #end
		  			<tr>
		  				<td colspan="6">Comments: <input type="text" name="comment" placeholder="Your comments..."></td>
		 			</tr>
	  			</table>
	 		</div>
		#end
		<br>
   		<input type="submit" value="Submit">
	</form>
</div>
#end