#parse("/velocity/layout.vm")
#@mainLayout()
<h1>$msg.get("BOOKS_HEADING_ALL")</h1>

<form>
<div id="myButton">
Document name: 
	<select>
			#foreach($doc in $docs)
	  		<option id="documents" name="documents" value="$doc.getDocName()">$doc.getDocName()</a></option>
	  		#end
	</select>
	<br><br>
   <input type="submit" value="Submit">
</div>
</form>

#end